# build
**/dist
**/dist-newstyle/
cabal-dev
.cabal-sandbox
cabal.sandbox.config
cabal.project.local*

# profiling
*.aux
*.hp
*.prof
*.ps
*.svg

# project
example/pkg/*
tmp/
**/.dart_tool/
**/.hollowpoint/
**/.idea/
**/.metadata
**/.packages
**/output
**/target/
**/android/
**/ios/
**/*.iml

